<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <title>删除Word中table中指定单元格所在行</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">

</head>

<body>
<div style="color:Red">删除了table中坐标为(2,1)的单元格所在行，请在服务器<%=FilePath%>路径下查看原模板文档。</div>
<div style="width: auto; height: 600px;" th:utext="${pageoffice}">
</div>
</body>


</html>
