<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="images/csstg.css" rel="stylesheet" type="text/css"/>

</head>
<body>

<div id="content">
    演示了如果使用程序控制数据区域文本的样式。<a href="Word2">点此链接查看原文件内容样式</a><br/><br/>
    <div id="textcontent" style="width: 1000px; height: 800px;" th:utext="${pageoffice}">

    </div>
</div>

</body>

</html>
