body, table, tr, td, div, span, h1, h2, h3, h4, ul, li, img, p, textarea, input, select, form {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-family: verdana, Arial, Helvetica, sans-serif;
    list-style-type: none;
    color: #444444
}

body {
    margin: 0px;
    padding: 2px;
}

ul {
    margin-left: 30px;
}

.errMainArea {
    width: 548px;
    background: url(bg_m2.gif) repeat-y;
    text-align: left
}

.errTopArea {
    background-color: #fff;
    font-size: 12px;
    font-weight: bold;
    color: #847549;
    padding: 5px 10px 3px 25px;
    background: url(bg_m1.gif) no-repeat top
}

.errTxtArea {
    padding: 54px 34px 54px 156px;
    margin: 5px 14px 0px 14px;
    border: 1px solid #D0C9B7;
    background: url(bg_face.gif) #FAF9F3 no-repeat 35px 35px;
}

.errTxtArea .txt_title {
    font-size: 14px;
    font-weight: bold;
    margin-left: 12px
}

.errTxtArea .txt_title, .errTxtArea .txt_title a {
    color: #897E5F
}

.errTxtArea .txt_others {
    font-size: 12px;
    color: #9E948F;
    margin-top: 10px;
    font-family: "����";
    line-height: 16px
}

.errBtmArea {
    padding: 7px 8px 10px 8px;
    background-color: #fff;
    text-align: center;
    background: url(bg_m1.gif) no-repeat bottom
}

.btnFn {
    cursor: pointer !important;
    cursor: hand;
    background-image: url(bg_btn.gif);
    background-color: #FFFDE2;
    text-align: center;
    height: 22px;
    width: 74px;
    padding: 0px !important;
    padding-top: 3px;
    border: 1px solid #AD9226;
    color: #6C4A00
}

/*����*/
